@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
 @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Yanone+Kaffeesatz:wght@300&display=swap');
/* body {
  @include box(horizontal, start, stretch);
  background: #fff;
  color: darken($option-color, 15%);
  font-family: "Comic Neue", san-sarif;
  text-align: center;
  div {
    padding: 5rem;
  }
  label {
    display: block;
    line-height: $option-size;
  }
} */


 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
   margin: 0;
   padding: 0;
   background-color: #fff;
   font-family: 'Nunito Sans', sans-serif;

  }

  .main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .main-container h2 {
    width: 40%;
    margin: 0 0 30px 0;
    color: #6699CC;
    /* color: rgb(63, 165, 212); */
    font-weight: 500;
    /* font-size: 25px; */
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
  }

  #blue  {
    width: 100%;
    margin: 0 0 20px 0;
    font-size: 22px;
    text-align: center;
     /* font-family: "Poppins", sans-serif;
     font-weight: 400; */
   }

/* affects the h3 */
.radio-btn .hobbies-icon h3 {
  color: #6699CC;
  margin-top: 5px;
  text-transform: uppercase;
font-weight: 500;
}

  .radio-buttons {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  }

  .custom-radio input {
   display: none;

  }

  .radio-btn {
    margin: 20px;
    width: 220px;
    height: 180px;
    /* #a098b9 */
    border: 2px solid #6699CC;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px #c3c3c367;
    cursor: pointer;
    background-color: white;
  }

   .radio-btn2  {
     width: 165px;
     height: 120px;
   }

   .radio-btn2 .hobbies-icon2 h3 {
     margin-top: 50px;
     
   }

  .green   {
    color: #ffffff;
    background-color: #6699CC;
    font-size: 18px;
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translate(-50%) scale(4);
    border-radius: 50px;
    padding: 3px;
    transition: 0.2s;
    pointer-events: none;
    opacity: 0;
  }

  .radio-btn .hobbies-icon {
    width: 180px;
    height: 80px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

  }


  #besttime  {
    /* border: 1px solid black; */
    color: #6699CC;
  }
  #submit {
    color: #6699CC; 
  }

  button {
    color: #6699CC;
  }
    /* controls the icons */
  .radio-btn .blue {
    /* align-items: center; */
    margin-bottom: 1px;
    margin-top: 10px;
    color: #6699CC;
    /* color: rgb(172, 186, 214); */

    font-size: 50px;
  }

  .custom-radio  + .radio-btn {
    border: 3px solid #6699CC;

  }
      /* changes radio color when checked */
  .custom-radio input:checked+.radio-btn {
    border: 2px solid #6699CC;

  }

  .custom-radio input:checked + .radio-btn .green{
    opacity: 1;
    transform: translate(-50%);
  }

  .form {
    background-color: #fff;
    width: 500px;
    color: #6699CC;
    margin: auto;
    /* border: 2px solid gold; */
    padding: 20px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

  input[type=text][type=email] {
    border-color: #6699CC;
    width: 100%;
    padding: 5px;
    font-size: 18px;
color:  #6699CC;
  }
  
  input {
    width: 100%;
    padding: 5px;
    font-size: 18px;

  }

  select  {
    width: 100%;
    padding: 5px;
    font-size: 18px;
  }

  input[type=button] {
    width: 20%;
    padding: 5px;
    font-size: 20px;
    background-color:#6699CC;
    color: white;
    border-radius: 10%;
  }

  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }

  a:hover {
    background-color: #ddd;
    color: black;
  }

  .back {
    margin-top: 20px;
    padding: 10px;
    background-color: #6699CC;
    color: white;
    border-radius: 20%;
  }

  .gift4 {
    padding: 40px;
  }

  @media screen and (max-width: 750px){

    .radio-btn .hobbies-icon  {
      color: #6699CC;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 18px;
      font-weight: 500;
      margin-top: 20px;
      text-transform: uppercase;
    }

  .radio-btn {
    margin: 5px;
    height: 150px;
    display: inline-block;
    margin-bottom: 2px;
 
  }

  .radio-btn2 {
    height: 170px;

  }

    .contact {
    height: 400px;
    width: 400px;
    font-size: 20px;
    padding-top: 50px;
  }
  .form {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 5px;
  }

  .radio-btn .blue {
    /* align-items: center; */
    margin-bottom: 1px;
    margin-top: 1px;
    color: #6699CC;
    /* color: rgb(172, 186, 214); */

    font-size: 50px;
  }

  .gift4 {
    padding: 20px;
  }

}
© 2021 GitHub, Inc.
